.container{
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginationSettings {
    position: fixed;
    top: 50px;
    right: 0px;
    border-radius: 10px;
    padding:10px
}

.pageNavigation{
    padding:0px 0px 10px 0px;
}

.pageNavigation button{
    margin:0px 10px 0px 10px;
}

.paginationSettings label input{
    width:50px;
}

.paginationSettings input{
    margin: 0px 4px 0px 4px;
}
.paginationSettings{
    background-color: rgb(193, 220, 241);
}
